{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% block body_block %}
<div class="container container__item landing-page-container", align = 'center'>
  <div class="content__wrapper jumbotron">
    <div class="row">
    <header class="header">
          <h2 class="heading header__item">Welcome to DE Project Website!</h1>
          <br/>
    </header>
  </div>
  </div>
    <p align='center'>© Indian Institute of Technology, Palakkkad </p>
    </div>

{% endblock %}
